@import url('./app/theme.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;

  font-family: var(--font-family);
  line-height: 1.3125;
  color: var(--color-text);

  background: var(--color-background);

  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea {
  font: inherit;
  color: inherit;
}
